<h1>Sign-In</h1>

<%= form_tag log_in_path do %>
	<%= label_tag(:username) %>
	<%= text_field_tag(:username) %>
	<%= label_tag(:password) %>
	<%= text_field_tag(:password) %>
	<%= submit_tag("submit") %>
<% end %>

<h3>
	<%= link_to "Return?", root_path %>
</h3>