<h1>Edit User</h1>
<h2>Here you can change your user's details!</h2>

	<%= form_for @user do |f| %>
	<%= f.label :username %>
	<%= f.text_field :username %>
	<%= f.label :password %>
	<%= f.password_field :password %>
	<%= f.submit :update %>
	
<% end %>