<h1>Hello, <%=@user.username %>. What would you like to focus on today?</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @user.username %>'s Profile</h3>
  </div>
  <div class="panel-body">
    <%= image_tag @user.avatar.url(:medium) %>
  </div>
</div>


<h2>New Sleak!</h2>
<%= form_for @post do |x| %>
	<%=x.label :title %>
	<%=x.text_field :title %>
	<%=x.label :content %>
	<%=x.text_area :content, size: "60x12" %>
	<%=x.submit :Post! %>
<% end %>

<h4>
	Your Recent Posts:
</h4>
<h4>
	<% @posts.each do |p| %>
		<h4><em>Title:</em>  <%= p.title %><p></h4>
		<h4><em>Body:</em>  <%= p.content %><p></h4>
		<h5>
			<%= link_to "Edit Post", edit_post_path(p.id) %>
		</h5>
<% end %>
</h4>	

<h3>
	<%= link_to "Home?", posts_path %>
</h3>

<h3>
	<%= link_to "Logout?", logout_path %>

<h3>
	<%= link_to "Delete User?", @user, method: :delete %>
</h3>

<h3>
	<%= link_to "Edit User?", edit_user_path %>
</h3>
